html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

:local .maincontent {
	background-color: ghostwhite;
	margin: 80px 0 80px 0;
	margin-top: 60px;
	background: linear-gradient(168deg, transparent 80vh, #F3F4F5 80vh, white 100vh), var(--bg-gradient), white;
	min-height: 100vh;
	// display: flex;
	// justify-content: center;
	// flex-direction: column;
}

:local .map { height: calc(100% - 44px); width: 100%; position: absolute !important; }

:local .app {
	height: 100%;
}

@media only screen and (min-width: 767px)  {
	.ui-alerts {
		top: 60px !important 
	}
}