/* .home {
	min-height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 50px auto 50px;
	grid-template-areas: "sidebar header header" 
						"sidebar main main"
						"footer footer footer";
}

.main {
  grid-area: main;
  background-color: #222;
}

.footer {
  grid-area: footer;
  background: #673AB7;
}

.header {
	grid-area: header;
	background-color: #222;
} */
