
:global .react-calendar-timeline .rct-header {
  overflow: hidden;
}

:global .react-calendar-timeline .rct-header .rct-label {
  // width: 100% !important;
  background-color: #68d1bc;
  color: #FFF;
  border-color: #68d1bc;
}

:global .react-calendar-timeline .rct-sidebar-header {
  background-color: #68d1bc;
  border-color: #68d1bc;
  height: 30px;
  align-self: flex-end;
}

:global .react-calendar-timeline .rct-header .rct-label-group {
  background-color: #FFF;
  border-color: #FFF;
  color: #333030;
  font-size: 20px
}

:global .react-calendar-timeline .rct-header .rct-label.rct-first-of-type {
  border-color: #68d1bc;
  padding-right: 10px;
  box-sizing: content-box;
}
:global .rct-sidebar-row {
  display: flex;
  justify-content: center;
}

:global .rct-item {
  // display: flex;
  background-color: #ffca85;
  // justify-content: center;
}

:global .custom-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  span {
    line-height: 1.4285em !important;
  }
}

.barberForm {
  z-index: 100;
  flex: 1;
}

.servicePanel {
  display: flex;
}

.addServiceButton {
  align-self: center;
}

.submitBarber {
  height: 50%;
  background-color: #68d1bc !important;
  align-self: flex-end;
}