html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#map { height: calc(100% - 44px); width: 100%; position: absolute !important; }


.tt {
	margin-left: 200px;
    margin-top: 100px;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.test {
	height: 100%;
	width: 100%;
	background: #444;
}

.maincontent {
	margin-top: 60px;
} 