:local .header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	// background: #673AB7;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 2050;
	background-image: linear-gradient(-120deg, #FCC 0%, #FFF 100%);
}

:local .header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: #000;
	background-color: #FFF;
	cursor: pointer;
}

:local .header nav {
	float: right;
	font-size: 100%;
}

:local .header nav a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	// will-change: background-color;
	cursor: pointer;
}

:local .header nav a:hover,
:local .header nav a:active,
:local .header nav a.active {
	background: rgba(0,0,0,0.2);
}

:local nav {
	display: flex;
	height: 56px;
	align-items: center;
}

// @media only screen and (max-width: 520px)  {
// 	.links {
// 		display: none;
// 	}
// }