
// :local .addButton {
//   align-self: flex-end;
// }

// :local .addProductButton {
//   text-align: right;
// }
// :local .tableContainer {
//   height: 50vh;
//   overflow: auto;
//   margin-bottom: 1rem;
// }