.inactive {
    opacity: 0.4;
}

:global .icon .lang-picker {
    display: flex !important;
    justify-content: space-around !important;

    .flag {
        margin: 0;

        &:hover {
            opacity: 1; 
        }
    }
    
}

:global .pushable:not(body) {
    transform: none;
  }
  
  :global .pushable:not(body) > .ui.sidebar,
  :global .pushable:not(body) > .fixed,
  :global .pushable:not(body) > .pusher:after {
    position: fixed;
  }