:local .footer {
    background-color: #333;
    color: white;
    height: 100px;
}

:local .container {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
}
:local .text {
    margin: auto 10px !important;
}
