:local .item {
  padding: 5px 0;
}
:local .bolder {
  font-weight: 600;
  padding: 0 .33em;
}
:local .infoGroup {
  margin-bottom: 1em; 
}

:local .centered {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

:local .container {
	padding-top: 1.5rem;
}